.loginPageBody{ background:url(../logins/loginbodybg2.gif) repeat-x left center #d6dedf;}
.LoginWrapbg{ background:url(../logins/loginimgbg2.jpg) no-repeat center center; height:100%;}
.leftColumnWrap {
    background: url("../logins/col_border1.gif") repeat-y scroll right center #eaecf1;
}
.bluebg {
    background: url("../logins/headBg.png") repeat-x scroll right top #DAE4ED;
}

.z-toolbar-overflow {
    background: url("../logins/bar.gif") repeat-x scroll 0 0 transparent;
}
.z-body-index .z-toolbar-ct {
    background: url("../logins/bar.gif") no-repeat scroll right -700px transparent;
}
.z-body-index .z-toolbar-overflow {
    background: url("../logins/bar.gif") repeat-x scroll 0 -620px transparent;
}
.z-body-index .z-toolbar {
    background: url("../logins/bar.gif") no-repeat scroll 0 -620px transparent;
}
.shadow-v {
    background: url("../logins/shadow-v.png") repeat-y scroll 0 0 transparent;
}
.navigation a:first-child {
    background: none;
}
.navigation a b {
    background: none;
}
.navigation a:hover {
    background: url("../logins/buttons.png") no-repeat scroll 0 0 transparent;
}
.navigation a:hover b {
    background: url("../logins/buttons.png") no-repeat scroll right 0 transparent;
    color: #8055b5;
}
.navigation a.current {
    background: url("../logins/buttons.png") no-repeat scroll 0 -40px transparent;
}
.navigation a {
    background: none;
    color: #ddebf5;
}
.navigation a.current b {
    background: url("../logins/buttons.png") no-repeat scroll right -40px transparent;
    color: #3c2cbb;
}

.z-toolbar {
    background: url("../logins/bar.gif") no-repeat scroll 0 -40px transparent;
}
.z-toolbar-ct{background-image: url("../logins/bar.gif");}
.z-body-detail  .z-toolbar-ct {
    background-image: url("../logins/bar.gif");
}
.z-tabpanel-overflow {
    background: url("../logins/bar.gif") repeat-x scroll 0 -120px transparent;
}
.z-tab-current, .z-tab-current:hover {
    background: url("../logins/buttons.png") no-repeat scroll 0 -180px transparent;
}
.z-tab, .z-tab b{color:#5e4d85;}
.z-tab-current b, .z-tab-current:hover b {
    background: url("../logins/buttons.png") no-repeat scroll right -180px transparent;
    color:#ffffff;
}
.z-tab:hover b {
    background: url("../logins/buttons.png") no-repeat scroll right -100px transparent;
}
.z-tab:hover {
    background: url("../logins/buttons.png") no-repeat scroll 0 -100px transparent;
}
.z-btn, .z-btn b, .z-btn i {
    color: #51497D;
}
.treeItem a, .treeItem p, .treeItem p.over, .treeItem p.current {
    background: none repeat scroll 0 0 transparent;
}
.treeItem p.current {
    background: url("../logins/bar.gif") repeat-x scroll 0 -470px transparent;
}
.sideNavigation a.current {
    background: url("../logins/bar.gif") repeat-x scroll 0 -320px transparent;
}
/*.sideNavigation li {
    background: url("../../logins/bar.gif") repeat-x scroll 0 -240px transparent;
}*/
.sideNavigation .hasChild b {
    background: url("../logins/sprites_vertical.gif") no-repeat scroll 0 0 transparent;
}
.sideNavigation .hasChild_expand {
    background: url("../logins/bar.gif") repeat-x scroll 0 -280px transparent;
}
.sideNavigation .hasChild_expand b {
    background: url("../logins/sprites_vertical.gif") no-repeat scroll 0 -30px transparent;
}
.sideNavigation a:hover {
    background: url("../logins/bar.gif") repeat-x scroll 0 -400px transparent;
}

input[type="text"], input[type="password"] {
    color: #6a8597;
}
.z-tabpanel {
    background: url("../logins/bar.gif") no-repeat scroll 0 -160px transparent;
}
.z-tabpanel-ct{background: url("../logins/bar.gif") no-repeat scroll right -200px transparent }
.z-body-detail .z-toolbar-overflow {
    background: url("../logins/bar.gif") repeat-x scroll 0 -120px transparent;
}
.z-toolbar-flat .z-toolbar-overflow {
    background: url("../logins/bar.gif") repeat-x scroll 0 -500px transparent;
}
.z-body-detail .z-toolbar {
    background: url("../logins/bar.gif") no-repeat scroll 0 -160px transparent;
}
.z-body-detail .z-toolbar-flat {
    background: url("../logins/bar.gif") no-repeat scroll 0 -540px transparent;
}





.loginBar {
	width: 345px;
	padding-top: 60px;
	padding-left: 50px;
	font-size: 14px;
}
.fieldWrap {
	text-align: left;
	width: 300px;
	height: 30px;
	padding-top: 10px;
	overflow: hidden;
}
.lable {
	padding-top: 3px;
	width: 90px;
	float: left;
	color: #333333;
	font-size: 14px;
	text-align: right;
}
.inputWrap {
	background: url(../logins/loginInputWrapbg.gif) no-repeat left top;
	height: 28px;
	line-height: 16px;
	border: none;
	width: 200px;
	float: left;
}
.selectWrap {
	background: url(../logins/loginSelectWrapbg.gif) no-repeat left top;
}
.verifyCodeWrap {
	display: none;
}
.verifyCode {
	float: left;
}
.verifyCodeWrap .inputWrap {
}
.welcome {
	color: #2477b3;
	font-family: "Î¢ÈíÑÅºÚ", Tahoma, sans-serif;
	font-size: 20px;
	text-shadow:0 -2px 0 #fff;
	font-weight: bold;
	padding: 6px 0;
	padding-top: 10px;
	padding-left: 20px;
	letter-spacing: 1px;
	text-align: center;
}
.copyright {
	padding-top: 10px;
	font-size: 13px;
	text-shadow:0 -1px 0 #fff;
	color: #555;
	text-align: center;
}
.copyright .center {line-height: 18px; padding-bottom: 2px;}
.copyright a{color:#1d69b0; text-decoration: none; font-family: "Î¢ÈíÑÅºÚ", Tahoma, sans-serif;}
.copyright a:hover {text-decoration: underline;}
img {
	vertical-align: middle;
}
input.inputText {
	background: transparent none;
	border: none;
	margin-top: 3px;
	_margin-top: 1px;
}
.inputWrap .inputText {
	width: 192px;
	height: 20px;
	font-size: 14px;
	padding-left: 6px;
	margin-top: 0px;
	padding-top: 4px;
}
input.inputTextHover {
	background: transparent none;
	border: none;
}
input.inputTextFocus {
	background: transparent none;
	border: none;
}
input[type="text"]:hover, input[type="password"]:hover {
	background: transparent none;
	border: none;
}
input[type="text"]:focus, input[type="password"]:focus {
	background: transparent none;
	border: none;
}
#loginBtnWrap {
	padding: 12px 0px 10px 130px;
	width:220px;
}
#Language_textField, #skin_textField {
	background: transparent none;
	color: #369;
	border: 0;
}
#Language_outer .z-combox-spinner, #skin_outer .z-combox-spinner {
	background: transparent;
	border: none;
}
#Language_outer .z-combox-spinner b, #skin_outer .z-combox-spinner b {
	border-top-color: #888;
}
#loginBtn {
	background: url(../logins/loginbtn.gif) no-repeat 0 0;
	width: 100px;
	cursor: pointer;
	height: 34px;
	color: #ffffff;
	font-size: 14px;
	line-height: 32px;
	text-align: center;
	word-spacing: 1px;
	letter-spacing: 6px;
	border:0 none;
}
a#loginBtn {text-decoration: none;}
.loginLogo {
	width: 60px;
	height: 60px;
	margin: 0 auto;
	background: url(../logins/admin_logo.png) no-repeat;
 _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../logins/admin_logo.png', sizingMethod = 'scale' );
	_background: none;
}
#loginBtnWrap a,#loginBtnWrap input,#loginBtnWrap img {float: left;}
#loginBtnWrap a.reset {color: #1d69b0; text-decoration: none; width: 60px; height:32px; line-height: 32px; margin-left:10px; text-align: center;}
#loginBtnWrap a.reset:hover {text-decoration: underline;}
.boxtab {display: block; padding:0;}
.boxtab #result {display: block; height: 25px; line-height: 25px; color: red; padding-left: 90px; font-size: 12px;}